@import "../../styles";
@import "../../functions";

.snap-card {
    width: 90%;
    .flex();
    .bordered();
    background-color: @black-color;
    padding: 1.8vh 2vw;

    transition: all ease .45s;

    img {
        width: 100%;
    }
    p {
        font-size: 1.17rem;
    }
    button {
        background-color: dodgerblue;
        font-size: 1.3rem;

        &:hover {
            cursor: pointer;
        }
    }

  .location {
      font-size: .92rem;

      position: absolute;
      margin-top: 7.2vh;
  }
}

.snapped-card {
    background-color: fade( lighten(@black-color, 8%), 82%);

    button {
        box-shadow: whitesmoke 4px 4px 8px;
    }
}
